<% content_for :title, "Sandex forecast for #{@location}" %>
<div id="header">
  <h1>Hi Luke</h1>
  <p>Right now in <strong><%= @location %></strong>, it's 
    <strong><%= @current_temp %>&deg;F</strong> at <strong><%= @current_humidity %>%</strong> humidity.</p>
</div>

<%= render 'hours', collection: @hours %>
