#header {
  background: #DDDDDD;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  h1 {
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4em;
    margin: 0px;
    padding: 0px;
    line-height: 1em;
    text-align: center;
  }
  p {
    text-align: center;
    margin-top: 5px;
  }
}
