$bright-green: #00CC00;
$blue: #EEEEFF;
$red: #FFEEEE;

.too_cold {
  background: $blue;
}
.too_hot {
  background: $red;
}
.too_wet {
  color: rgba(0, 0, 0, 0) !important;
  text-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.sandex_true {
  background: $bright-green;
  font-weight: bold;
}
.sandex_false {
}
