$lightest-gray: "#F8F8F8";

@import './public/modules/sandex';
@import './public/modules/forecast';
@import './public/modules/footer';
@import './public/modules/wifir';

body {
  background: $lightest-gray;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
