.App {
  
}

body {
  background: #F8F8F8;
  font-family: sans-serif;
  font-size: 1.4em;
  margin: 0px;
  padding: 0px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  background: #DDDDDD;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#header h1 {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4em;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  text-align: center;
}

#forecast {
 /* no statements */
}

table {
  margin: 0 auto;
  border-spacing: 0px;
}
  
td {
  text-align: right;
  padding: 5px;
  margin: 0px;
}

tr.sandex-true {
  background-color: #00FF00;
}

tr.sandex-false {
  /* no color */
}
