$sandex-true-color: #0C0;
$sandex-true-text-color: #000;

$page-background-color: #DDD;
$header-background-color: $sandex-true-color;

$gray-1: #CCC;
$gray-2: #EEE;
$gray-3: #FFF;

// dewpoint colors
$dewpoint-very-dry-color: #0CF;
$dewpoint-comfortable-color: #0F0;
$dewpoint-slightly-humid-color: #FE9901;
$dewpoint-humid-color: #FF6500;
$dewpoint-very-humid-color: #FE0000;
$dewpoint-oppressive-color: #820204;