$sandex-true-color: #0C0;
$sandex-true-text-color: #000;

$page-background-color: #DDD;
$header-background-color: $sandex-true-color;

$gray-1: #CCC;
$gray-2: #EEE;
$gray-3: #FFF;

// dewpoint colors
$dewpoint-very-dry-color: #0CF;
$dewpoint-dry-color: #0F0;
$dewpoint-comfortable-color: #FFCC03;
$dewpoint-humid-color: #FE9901;
$dewpoint-muggy-color: #FF6500;
$dewpoint-oppressive-color: #FE0000;
$dewpoint-miserable-color: #820204;

// wet-bulb flag colors
$white-flag-color: #FFF;
$white-flag-text-color: #000;
$green-flag-color: #0F0;
$green-flag-text-color: #000;
$yellow-flag-color: #FFCC03;
$yellow-flag-text-color: #000;
$red-flag-color: #F00;
$red-flag-text-color: #FFF;
$black-flag-color: #000;
$black-flag-text-color: #FFF;