@import "./colors";

body {
  background: $page-background-color;
  font-family: sans-serif;
  font-size: 1.4em;
  margin: 0px;
  padding: 0px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  background: $header-background-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 4px solid $sandex-true-text-color;
  margin-bottom: 1em;
}

#header h1 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4em;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  text-align: center;

}

#wifir {
  margin-top: 15px;
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  th, td {
    padding: 12px 15px;
  }

  thead tr {
    background-color: $sandex-true-color;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
  }

  tbody {
    tr {
      border-bottom: thin solid $gray-1;
    }

    tr:nth-of-type(even) {
      background-color: $gray-2;
    }

    tr:last-of-type {
      border-bottom: 2px solid $sandex-true-color;
    }

    tr.sandex-true {
      background-color: $sandex-true-color;
    }

    td {
      text-align: right;
    }

    td.sandex-true {
      background-color: $sandex-true-color;
    }

    td.temp {
      text-align: center;
    }

    td.humidity {
      text-align: center;
    }
    
    td.dewpoint {
      text-align: center;
    }

    td.dewpoint-very-dry {
      background-color: $dewpoint-very-dry-color;
    }

    td.dewpoint-dry {
      background-color: $dewpoint-dry-color;
    }

    td.dewpoint-comfortable {
      background-color: $dewpoint-comfortable-color;
      color: transparent;
      text-shadow: #111 0 0 1px;
    }
    
    td.dewpoint-humid {
      background-color: $dewpoint-humid-color;
      color: transparent;
      text-shadow: #111 0 0 2px;
    }
    
    td.dewpoint-muggy {
      background-color: $dewpoint-muggy-color;
      color: transparent;
      text-shadow: #111 0 0 3px;
    }
    
    td.dewpoint-oppressive {
      background-color: $dewpoint-oppressive-color;
      color: transparent;
      text-shadow: #111 0 0 4px;
    }
    
    td.dewpoint-miserable {
      color: #fff;
      background-color: $dewpoint-miserable-color;
      color: transparent;
      font-weight: bold;
      text-shadow: #fff 0 0 5px;
    }

    td.white-flag {
      color: $white-flag-text-color;
      background-color: $white-flag-color;
    }

    td.green-flag {
      color: $green-flag-text-color;
      background-color: $green-flag-color;
    }

    td.yellow-flag {
      color: $yellow-flag-text-color;
      background-color: $yellow-flag-color;
    }

    td.red-flag {
      color: $red-flag-text-color;
      background-color: $red-flag-color;
    }

    td.black-flag {
      color: $black-flag-text-color;
      background-color: $black-flag-color;
    }
  }
}


