@import "./colors";

body {
  background: $page-background-color;
  font-family: sans-serif;
  font-size: 1.4em;
  margin: 0px;
  padding: 0px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  background: $header-background-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 4px solid $sandex-true-text-color;
  margin-bottom: 1em;
}

#header h1 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4em;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  text-align: center;

}

#wifir {
  margin-top: 15px;
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  th, td {
    padding: 12px 15px;
  }

  thead tr {
    background-color: $sandex-true-color;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
  }

  tbody {
    tr {
      border-bottom: thin solid $gray-1;
    }

    tr:nth-of-type(even) {
      background-color: $gray-2;
    }

    tr:last-of-type {
      border-bottom: 2px solid $sandex-true-color;
    }

    tr.sandex-true {
      background-color: $sandex-true-color;
    }

    td {
      text-align: right;
    }

    td.temp, td.dewpoint {
      text-align: center;
    }
  }
  span.dewpoint-bullet {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  span.dewpoint-very-dry {
    background-color: $dewpoint-very-dry-color;
  }

  span.dewpoint-comfortable {
    background-color: $dewpoint-comfortable-color;
  }

  span.dewpoint-pleasant {
    background-color: $dewpoint-pleasant-color;
  }
  
  span.dewpoint-slightly-humid {
    background-color: $dewpoint-slightly-humid-color;
  }
  
  span.dewpoint-humid {
    background-color: $dewpoint-humid-color;
  }
  
  span.dewpoint-very-humid {
    background-color: $dewpoint-very-humid-color;
  }
  
  span.dewpoint-oppressive {
    color: #fff;
    background-color: $dewpoint-oppressive-color;
  }
}



