@import "./colors";

body {
  background: $page-background-color;
  font-family: sans-serif;
  font-size: 1.4em;
  margin: 0px;
  padding: 0px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  background: $header-background-color;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-bottom: 4px solid $sandex-true-text-color;
  margin-bottom: 1em;
}

#header h1 {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4em;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  th, td {
    padding: 12px 15px;
  }

  thead tr {
    background-color: $gray-1;
    text-align: center;
  }

  tbody {
    tr {
      border-bottom: thin solid $gray-2;
    }

    tr:nth-of-type(even) {
      background-color: $gray-3;
    }

    tr:last-of-type {
      border-bottom: 2px solid $sandex-true-color;
    }

    tr.sandex-true {
      background-color: $sandex-true-color;
    }

    td {
      text-align: right;
    }

    td.temp, td.dewpoint {
      text-align: center;
    }

    td.dewpoint-very-dry {
      color: $dewpoint-very-dry-color;
    }

    td.dewpoint-comfortable {
      color: $dewpoint-comfortable-color;
    }
    
    td.dewpoint-slightly-humid {
      color: $dewpoint-slightly-humid-color;
    }
    
    td.dewpoint-humid {
      color: $dewpoint-humid-color;
    }
    
    td.dewpoint-very-humid {
      color: $dewpoint-very-humid-color;
    }
    
    td.dewpoint-oppressive {
      color: $dewpoint-oppressive-color;
    }
  }
}



