name: Fetch Open-Meteo Forecast

on:
  workflow_dispatch:
  schedule:
    - cron: 0 1 * * *

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Fetching the weather forecast from Open-Meteo
        run: |
          FILE=./src/json/forecast-openmeteo.json
          echo "Fetching today's forecast from Open-Meteo..."
          response=$(curl --request GET \
            --url 'https://api.open-meteo.com/v1/forecast?latitude=39.985963&longitude=-75.622057&hourly=temperature_2m,dew_point_2m&timezone=America%2FNew_York&temperature_unit=fahrenheit&start_date=2026-02-27&end_date=2026-03-15' \
            --compressed \
            --header 'Accept-Encoding: gzip' \
            --header 'accept: application/json' \
            --header 'content-type: application/json' \
            )
          status=$?
          if [ $status -eq 0 ]; then
              echo $response > $FILE
              echo "$FILE saved."
          else
              echo "curl exit code: ($status) $response"
              exit $status
          fi
      - name: Committing changes to git
        env:
          GIT_OWNER_EMAIL: ${{ secrets.GIT_OWNER_EMAIL }}
          PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
        run: |
          git config user.email "$GIT_OWNER_EMAIL"
          git config user.name "tikaro"
          if [[ `git status --porcelain` ]]; then
            git add .
            git commit -a -m "Update forecast data from Open-Meteo"
            git remote rm origin
            git remote add origin https://tikaro:$PUSH_TOKEN@github.com/tikaro/sandex.git
            git push origin HEAD:main
          else
            echo 'unable to detect any changes'
          fi
